$white: #fff;
$state-danger-text: #a94442;
$red-input: #18b6d6;

// color paginate
$gray-border: #ddd;
$color-black: #999;
$blue-dark: #2e6ab1;
$blue-light: #105cb6;
$color-purple: #000033;
$blue-light: #6aa6ed;
$color-gray-blue: #9aafe5;
