@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700);
@import 'variables';
@import 'mixins';

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.info {
  p {
    color: $white;
  }
}

.register-box {
  width: 480px !important;
}

.field_with_errors {
  border: 1px solid $red-input;
  .form-control {
    color: $state-danger-text;
  }
}

.login-page h1 {
  font-size: 28px;
}

#error_explanation {
  background: $white;
  padding: 5px;
}
@media (min-width: 576px){
  .login-page .main-header {
    margin-left: 0;
  }
}
