@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700);
@import 'variables';
@import 'mixins';

.content {
  padding-bottom: 50px !important;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.info {
  p {
    color: $white;
  }
}

.register-box {
  width: 480px !important;
}

.field_with_errors {
  border: 1px solid $red-input;
  .form-control {
    color: $state-danger-text;
  }
}

.login-page h1 {
  font-size: 28px;
}

#error_explanation {
  background: $white;
  padding: 5px;
}

.exam label {
  display: block;
  font-weight: normal !important;
}

.fixed-clock {
  position: fixed;
  top: 80px;
  right: 30px;
}

.timer {
  background: $gray-border;
  width: 270px;
}
#timer {
  display: flex;
  justify-content: space-around;
  span{
    display: block;
    font-size: 20px;
    font-weight: normal;
  }
  &>div{
    flex: 1;
    text-align: center;
    border: 1px solid $white;
    padding: 5px 0;
    font-size: 2rem;
    font-weight: 700;

  }
}

@media (min-width: 576px){
  .login-page .main-header {
    margin-left: 0;
  }
}
