<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    <%= t("footer.text") %>
  </div>
  <!-- Default to the left -->
  <strong>
    <%= t("footer.copyright") %>
  </strong>
</footer>
