  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <%= render "shared/user_panel" %>
      <!-- Sidebar Menu -->
      <%= render "layouts/sidebar_menu" %>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
